In [112]:
import pandas as pd
import numpy as np

cb_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')

In [113]:
cb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [114]:
#display(cb_data)
#display(cb_data['birth year'].value_counts())
#display(cb_data['start station id'].isna().value_counts())
#display(cb_data['start station id'].value_counts())
#display(cb_data['bikeid'].value_counts())
#display(cb_data['usertype'].value_counts())
#s = 232202
#c = 67798
#print (s / (s + c))
#display(cb_data['gender'].value_counts())
#display(cb_data['start station name'].describe())
#display(cb_data['end station name'].describe())
## md['Time'] = pd.to_datetime(md['Time'], dayfirst=False)
## md['Year'] = md['Time'].dt.year
#cb_data['startyear'] = pd.to_datetime(cb_data['starttime'], dayfirst=False)
#cb_data['startyear'] = cb_data['startyear'].dt.year
#cb_data['startyear'].apply(lambda x: x - cb_data['birth year'])
#display(cb_data['startyear'].value_counts())
#display(cb_data['birth year'].describe())
#display(cb_data['start station name'].value_counts())
#display(cb_data['end station name'].value_counts())

cb_data['age'] = cb_data['birth year'].apply(lambda x: 2018 - x)
cb_data['is60'] = cb_data['age'].apply(lambda x: x > 60)
display(cb_data['is60'].value_counts())

is60
False    288163
True      11837
Name: count, dtype: int64

In [115]:
var = cb_data.loc[[3]]
#cb_data.loc[[3]]['stoptime'] - cb_data.loc[[3]]['starttime']
v1 = var['starttime']
v2 = var['stoptime']

print ((pd.to_datetime(v2, dayfirst=False) - pd.to_datetime(v1, dayfirst=False)).dt.seconds / 60)

3    7.266667
dtype: float64

In [116]:
cb_data['startWe'] = pd.to_datetime(cb_data['starttime'], dayfirst=False)
cb_data['startWe'] = cb_data['startWe'].dt.weekday
cb_data['isStartWe'] = cb_data['startWe'].apply(lambda x: x > 4)
#cb_data.info()
cb_data['isStartWe'].value_counts()

isStartWe
False    184865
True     115135
Name: count, dtype: int64

In [117]:
cb_data['time_of_day_dt'] = pd.to_datetime(cb_data['starttime'], dayfirst=False)
cb_data['time_of_day_dt'] = cb_data['time_of_day_dt'].dt.hour

In [122]:
def func(hour):
    if (hour >= 0) and (hour <= 6):
        return 'night'
    elif (hour > 6) and (hour <= 12):
        return 'morning'
    elif (hour > 12) and (hour <= 18):
        return 'day'
    elif (hour > 18) and (hour <= 23):
        return 'night'
    else:
        return 'other'

cb_data['time_of_day'] = cb_data['time_of_day_dt'].apply(func)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
 14  age                      300000 non-null  int64
 15  is60                     300000 non-null  bool
 16  startWe                  300000 non-null  int32
 17  isStartWe                300000 non-null  bool
 18  time_of_day_dt           300000 non-null  int32
 19  time_of_day              300000 non-null  object
dtypes: bool(2), float64(6), int32(2), int64(4), object(6)
memory usage: 39.5+ MB

In [136]:
display(cb_data['time_of_day_dt'].value_counts())

time_of_day_dt
17    29601
18    29099
16    23105
15    21108
14    20208
13    19891
12    19157
8     17807
19    17136
11    16821
9     15776
10    15007
20    11168
7     10962
21     7827
22     6035
6      5325
23     4207
0      3360
1      1977
5      1592
2      1299
3       793
4       739
Name: count, dtype: int64

In [128]:
tod = cb_data['time_of_day'].value_counts()
display (tod)
tod.info()

time_of_day
day        143012
morning     95530
night       61458
Name: count, dtype: int64

<class 'pandas.core.series.Series'>
Index: 3 entries, day to night
Series name: count
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 156.0+ bytes

In [134]:
#cb_data.info()
display(tod['day'] / tod['night'])
#display((tod['day'] + tod['morning']) / tod['night'])

2.3269875362035863